
:root {
	--black: #000;
	--whithSubTitle: rgb(253, 249, 249);
	--whiteTitle: #fcfcfc;
	--blackTitle: rgb(26, 25, 25);
	--blue: #038cb1;
	--gray: #757575;
	--grayBox: #eaeaea;
	--whiteBox: #ebebeb;
	--whiteBox2: #CFE0E7;
	--white: #ffffff;
	--darkBlue: #001041;
}



.title {
	color: var(--black);
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

.title1 {
	color: var(--whiteTitle);
	font-size: 25px;
	font-weight: 100;
	font-family: "Roboto", sans-serif;
}


.sub-title {
	color: var(--blackTitle);
	font-weight: 300;
	font-size: 22px;
	font-family: "Roboto", sans-serif;
}

.sub-title1 {
	color: var(--whithSubTitle);
	text-align: center;
	font-size: 22px;
	font-family: "Roboto", sans-serif;
}

.color-blue {
	color: var(--blue);
}


.color-gray {
	color: var(--gray);
}

.topotitle {
	font-size: 35px;
	font-weight: 999;

}


.tit {
	width: 90%;

}

.tam {
	width: 40%;
	margin: 0% 0 6% 0;
}

.tamm {
	width: 5rem;
	padding: 1rem 0;

}

.coll {
	width: 24%;
	min-height: 174px;
}

.marg {

	padding-left: 7%;

}

.pad {
	padding-inline: 5%;


}

.pad1 {
	padding-inline: 1%;


}


/* Caixa 2 */

.div2title {
	display: flex;
	text-align: right;
	box-shadow: 0px -117px 130px -112px rgb(0 0 0 / 89%) inset;
	border-radius: 39px 39px 0 0;
}

.div2img {
	width: 76% !important;


}

.boxcolor {
	padding: 76px 0 35px 0;
	background-color: var(--darkBlue);
	border-radius: 0 0 39px 39px;
	width: 100%;
	text-align-last: center;
	margin: 0% 0% 0% 0%;
	display: flex;
	flex-wrap: wrap;
}

/* caixa 3 */
.boxcolor2 {

	position: relative;
	background-color: var(--whiteBox);
	width: 103%;
	height: 100%;
	border-radius: 39px;
	padding: 40px 0 0 35px;

}



/* caixa 5 */
.boxcolor3 {
	margin: 0% -1%;
	display: flex;
	justify-content: space-between;

}

.divleft {
	background-color: var(--blue);
	flex-basis: 36%;

	border-radius: 39px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.divleft img {
	border-radius: 39px;
}


.div4titleA {

	margin: 8% 3% 4% 34px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-content: center;
}


.divrigth {
	background-color: var(--whiteBox);
	flex-basis: 61%;

	border-radius: 39px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.div4imgB {

	margin: 3% 21% -18% 34px;

}


/*Fundo*/
.boxcolor4 {
	background-color: var(--grayBox);
	width: 103%;
	height: 100%;
	border-radius: 39px 39px 0 0;
	position: relative;
	justify-content: center
}

.div5title {
	width: 63%;
	height: 100%;
	margin: 0% -0% 0% 3%;
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/*Fundo*/
.boxcolor5 {
	background-color: var(--grayBox);
	width: 103%;
	border-radius: 0 0 39px 39px;
}

.imgdesl4 {
	width: 50%;
	padding: 23px;
}

.qrcode {
	width: 100%;
}

.sep {
	height: 100px;
	width: 1px;
	background-color: var(--whiteTitle);
}

.p-left {

	text-align: left !important;
}

.txt-preto {
	color: var(--black);
}

.txt-branco {
	color: var(--white) !important;
}

.boxcolor0 {
	background-color: var(--blue);
	border-radius: 39px;
}

@media (max-width:  60rem) {

	
	.imgdesl4 {
		margin: 0;
	}


	.div4titleA {

		margin: 6% 0% 3% 2rem;

	}

	.titleloc {
		margin: 0 0% 0 0;
	}

	.divrigth {

		width: 100%;
		flex-basis: 100%;
		margin-top: 2rem;

	}

	.divleft {

		width: 100%;
		height: 100%;
		flex-basis: 100%;

	}

	.topotitle {
		font-size: 1.75rem;

	}

	.div5title {
		height: 59%;
		width: 91%;
	}

	.qrcode {
		width: 69%;
	}
}

@media (max-width: 45rem) {

	.title {
		font-size: 1.25rem;
	}

	.sub-title1 {
		font-size: 1.125rem;
	}

	.boxcolor {
		display: block;
	}

	.coll {
		width: 100%;
		min-height: 0%;
	}

	.div5title {
		width: 90%;
		height: 100%;
		margin: 0% -0% 0% 3%;
		position: relative;
	}
}